/adv_PrctcPrblm7_242.sql
/adv_prctcPrblm8_255.sql
/CaseExpression.sql
/csv_files
/DataFunctions.sql
/Group_by.sql
/PracticePblmOnSubqueriesAndCTEs.sql
/PracticePrblm1And2_subqueriesAndCte_242.sql
/PracticeProblem1,2,3_220.sql
/practice_pblm_230.sql
/prblm 6 advanced.sql
/sql_load
/SubqueriesAndCTEs.sql
/Union.sql